<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地图云-舆图</title>
    <link rel="shortcut icon" href="./images/favicon.ico">
    <script src="./libs/spin.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?ceea4187d8f78ff5a527df9d3d90a499";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
      @font-face {font-family: "iconfont";
            src: url('./css/font/iconfont.eot'); /* IE9*/
            src: url('./css/font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./css/font/iconfont.woff') format('woff'), /* chrome, firefox */
            url('./css/font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
            url('./css/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }
        .iconfont {
            font-family:"iconfont" !important;
            font-style:normal;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
<body>
    <div id="root"></div>
    <script>window.PAGE_SPINNER = new Spinner({color:'#0A65F6', radius: 25}).spin(document.body);</script>
</body> 
</html>